*{
  margin:0;
}

.app{
  background-color: #fafafa;
}
.app__header {
  position: sticky; 
  top: 0;
  z-index: 1;
  height: 75px;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__Posts {
  padding: 20px; 
}

.app__SignUp {
  display: flex;
  flex-direction: column;
}

.app__LoginContainer {
  margin-top:auto;
  margin-bottom:auto;
}