*{
  margin:0;
}

.app{
  background-color: #fafafa;
}
.app__header {
  height: 150px;
  background-color:#eff7ef;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

.app__SignUp {
  display: flex;
  flex-direction: column;
}